body {
    background-color: #969ce27f;
}

header {
    text-align: center;
}

h3 {
    color: #DD0000;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 2px solid #000000;
}

#btnLogin {
    background-color: #00FF00;
}

#btnCancel{
    background-color: #FF0000;
}

input {
    border-radius: 20px;
    color: #0000FF;
}

.thumb {
    width: 20px;
    height: 20px;
}