body {
    background-color: #fdffd21d; /* RedGreenBlue */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #000000;
}

.class_1 {
    background-color: #FFB4C2; /* RedGreenBlue */
    color: #000000;
    font-weight: bold;
}

#class_header {
    background-color: #667BC6; /* RedGreenBlue */
    color: #DA7297;
}

.button_subscribe{
    background-color: #FDFFD2;
    border-radius: 10px;
}

.button_ok:hover{
    background-color: #1ccd13;
    border-radius: 10px;
}

.button_cancel:hover{
    background-color: #ff0000;
}