{% load static %}

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
        <table>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th></th>

                {% for videogame in videogames %} 
                    <tr>
                        <td>{{ videogame.name }}</td>
                        <td>{{ videogame.price }}</td>
                        <td>{{ videogame.description }}</td>
                        <td><img class="thumb" src={% static  videogame.image %}></td>
                    </tr>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>